* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    grid-area: header;
    align-content: end;
    height: 100px;
    width: 100vw;
}

.aside-left {
    grid-area: aside-left
}

.main {
    grid-area: main;
}

.aside-right {
    grid-area: aside-right;
}

.footer {
    grid-area: footer;
}


.container {
    display: grid;
    // grid-template-columns: 0.4fr 0.3fr 0.3fr;
    grid-template-columns: auto auto auto auto auto auto;
    // grid-template-columns: 200px 200px 200px 200px 200px 200px;
    grid-template-rows: 10vh 75vh 15vh;
    justify-items: center;
    align-items: center;

    grid-template-areas: 'header header header header header header'
        'aside-left main main main main aside-right'
        ' footer footer footer footer footer footer';
    grid-gap: 10px;
    background-color: #2196F3;
}

.container .header {
    background-color: violet;
    margin-top: -20px;
}







// .x {
//     // background-color: red;
// }

// .y {
//     grid-column: 1 / 7;
//     grid-row: 1 / 2;

//     // display: flex;
//     // flex-wrap: wrap;
//     background-color: red;
// }