.wrapper {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
}

.wrapper>* {
    padding: 10px;
    flex: 1 100%;
}

.one {
    background: tomato;
}

.six {
    background: lightgreen;
}

.two {
    text-align: left;
    background: deepskyblue;
}

.four {
    background: gold;
}

.item {
    background: hotpink;
}

@media all and (min-width: 600px) {
    .aside {
        flex: 1 0 0;
    }
}

@media all and (min-width: 800px) {
    .two {
        flex: 3 0px;
    }

    .four {
        order: 1;
    }

    .two {
        order: 2;
    }

    .five {
        order: 3;
    }

    .six {
        order: 4;
    }
}

body {
    padding: 2em;
}



.test__cy-gherkin {
    margin: 0 auto;
    margin-top: 50px;
    max-width: 70%;
}

.sun-shrink {
    display: block;
    width: 40px;
    height: 100px;
}


.sun-icon {
    width: 40px;
    height: 100px;
}

.moon-icon {
    max-width: 40px;
}

.link-user,
.link-admin {
    display: block;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
}